<div class="container md-5 text center ">
    <div class="row">
        <div class="col">

            <form >
                <input type="hidden" name="form_key" value="ThwpRLC8Hk3XsMm8" data-gaconnector-tracked="true">
                <input type="hidden" name="referrer_pageurl" value="https://www.technogym.com/int/es/contacts/" data-gaconnector-tracked="true">
                <input type="hidden" name="referrer_element" value="contactForm" data-gaconnector-tracked="true">
                <div class="fieldset">
                    <ul class="form-list">
                        <p class="required">* Campos Requeridos</p>
                        <li class="wide first">
                            <label for="reason" class="required"><em>*</em>Me gustaría</label>
                            <select name="reason" id="reason" class="validate-select validation-passed">
                                <option value="call">Ser llamado</option>
                                <option value="assistance">Solicitar asistencia técnica</option>
                                <option value="mail">Enviar un email</option>
                                <option value="appointment">Solicitar una cita en un showroom</option>
                                <option value="newsletter">Suscribirse a nuestra boletín informativa</option>
                                <option value="trainer">Contratar un Entrenador Personal</option>
                            </select>
                        </li>
                        <li class="wide">
                            <label for="country" class="required"><em>*</em>País</label>
                            <select name="country" id="country" class="validate-select">
                                <option value=""></option>
                                <option value="AF">Afganistán</option>
                                <option value="AL">Albania</option>
                                <option value="DE">Alemania</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguila</option>
                                <option value="AG">Antigua y Barbuda</option>
                                <option value="AN">Antillas Neerlandesas</option>
                                <option value="AQ">Antártida</option>
                                <option value="SA">Arabia Saudí</option>
                                <option value="DZ">Argelia</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaiyán</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahréin</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BZ">Belice</option>
                                <option value="BJ">Benín</option>
                                <option value="BM">Bermudas</option>
                                <option value="BY">Bielorrusia</option>
                                <option value="BO">Bolivia</option>
                                <option value="BQ">Bonaire</option>
                                <option value="BA">Bosnia-Herzegovina</option>
                                <option value="BW">Botsuana</option>
                                <option value="BR">Brasil</option>
                                <option value="BN">Brunéi</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="BT">Bután</option>
                                <option value="BE">Bélgica</option>
                                <option value="CV">Cabo Verde</option>
                                <option value="KH">Camboya</option>
                                <option value="CM">Camerún</option>
                                <option value="CA">Canadá</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CY">Chipre</option>
                                <option value="VA">Ciudad del Vaticano</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoras</option>
                                <option value="CG">Congo</option>
                                <option value="KP">Corea del Norte</option>
                                <option value="KR">Corea del Sur</option>
                                <option value="CR">Costa Rica</option>
                                <option value="CI">Costa de Marfil</option>
                                <option value="HR">Croacia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">Curaçao</option>
                                <option value="DK">Dinamarca</option>
                                <option value="DM">Dominica</option>
                                <option selected="selected" value="EC">Ecuador</option>
                                <option value="EG">Egipto</option>
                                <option value="SV">El Salvador</option>
                                <option value="AE">Emiratos Árabes Unidos</option>
                                <option value="ER">Eritrea</option>
                                <option value="SK">Eslovaquia</option>
                                <option value="SI">Eslovenia</option>
                                <option value="ES">España</option>
                                <option value="US">Estados Unidos</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Etiopía</option>
                                <option value="PH">Filipinas</option>
                                <option value="FI">Finlandia</option>
                                <option value="FJ">Fiyi</option>
                                <option value="FR">Francia</option>
                                <option value="GA">Gabón</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GD">Granada</option>
                                <option value="GR">Grecia</option>
                                <option value="GL">Groenlandia</option>
                                <option value="GP">Guadalupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GF">Guayana Francesa</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GQ">Guinea Ecuatorial</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haití</option>
                                <option value="HN">Honduras</option>
                                <option value="HU">Hungría</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Irlanda</option>
                                <option value="IR">Irán</option>
                                <option value="BV">Isla Bouvet</option>
                                <option value="CX">Isla Christmas</option>
                                <option value="NU">Isla Niue</option>
                                <option value="NF">Isla Norfolk</option>
                                <option value="IM">Isla de Man</option>
                                <option value="IS">Islandia</option>
                                <option value="KY">Islas Caimán</option>
                                <option value="CC">Islas Cocos</option>
                                <option value="CK">Islas Cook</option>
                                <option value="FO">Islas Feroe</option>
                                <option value="GS">Islas Georgia del Sur y Sandwich del Sur</option>
                                <option value="HM">Islas Heard y McDonald</option>
                                <option value="FK">Islas Malvinas</option>
                                <option value="MP">Islas Marianas del Norte</option>
                                <option value="MH">Islas Marshall</option>
                                <option value="SB">Islas Salomón</option>
                                <option value="TC">Islas Turcas y Caicos</option>
                                <option value="VG">Islas Vírgenes Británicas</option>
                                <option value="VI">Islas Vírgenes de los Estados Unidos</option>
                                <option value="UM">Islas menores alejadas de los Estados Unidos</option>
                                <option value="AX">Islas Åland</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italia</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japón</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordania</option>
                                <option value="KZ">Kazajistán</option>
                                <option value="KE">Kenia</option>
                                <option value="KG">Kirguistán</option>
                                <option value="KI">Kiribati</option>
                                <option value="KW">Kuwait</option>
                                <option value="LA">Laos</option>
                                <option value="LS">Lesoto</option>
                                <option value="LV">Letonia</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libia</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lituania</option>
                                <option value="LU">Luxemburgo</option>
                                <option value="LB">Líbano</option>
                                <option value="MK">Macedonia</option>
                                <option value="MG">Madagascar</option>
                                <option value="MY">Malasia</option>
                                <option value="MW">Malaui</option>
                                <option value="MV">Maldivas</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MA">Marruecos</option>
                                <option value="MQ">Martinica</option>
                                <option value="MU">Mauricio</option>
                                <option value="MR">Mauritania</option>
                                <option value="YT">Mayotte</option>
                                <option value="FM">Micronesia</option>
                                <option value="MD">Moldavia</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="MX">México</option>
                                <option value="MC">Mónaco</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NG">Nigeria</option>
                                <option value="NO">Noruega</option>
                                <option value="NC">Nueva Caledonia</option>
                                <option value="NZ">Nueva Zelanda</option>
                                <option value="NE">Níger</option>
                                <option value="OM">Omán</option>
                                <option value="PK">Pakistán</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestina</option>
                                <option value="PA">Panamá</option>
                                <option value="PG">Papúa Nueva Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="NL">Países Bajos</option>
                                <option value="PE">Perú</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PF">Polinesia Francesa</option>
                                <option value="PL">Polonia</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="HK">Región Administrativa Especial de Hong Kong de la República Popular China</option>
                                <option value="MO">Región Administrativa Especial de Macao de la República Popular China</option>
                                <option value="GB">Reino Unido</option>
                                <option value="CF">República Centroafricana</option>
                                <option value="CZ">República Checa</option>
                                <option value="CD">República Democrática del Congo</option>
                                <option value="DO">República Dominicana</option>
                                <option value="RE">Reunión</option>
                                <option value="RW">Ruanda</option>
                                <option value="RO">Rumanía</option>
                                <option value="RU">Rusia</option>
                                <option value="WS">Samoa</option>
                                <option value="AS">Samoa Americana</option>
                                <option value="BL">San Bartolomé</option>
                                <option value="KN">San Cristóbal y Nieves</option>
                                <option value="SM">San Marino</option>
                                <option value="MF">San Martín</option>
                                <option value="PM">San Pedro y Miquelón</option>
                                <option value="VC">San Vicente y las Granadinas</option>
                                <option value="SH">Santa Elena</option>
                                <option value="LC">Santa Lucía</option>
                                <option value="ST">Santo Tomé y Príncipe</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leona</option>
                                <option value="SG">Singapur</option>
                                <option value="SY">Siria</option>
                                <option value="SO">Somalia</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SZ">Suazilandia</option>
                                <option value="ZA">Sudáfrica</option>
                                <option value="SD">Sudán</option>
                                <option value="SE">Suecia</option>
                                <option value="CH">Suiza</option>
                                <option value="SR">Surinam</option>
                                <option value="SJ">Svalbard y Jan Mayen</option>
                                <option value="EH">Sáhara Occidental</option>
                                <option value="TH">Tailandia</option>
                                <option value="TW">Taiwán</option>
                                <option value="TZ">Tanzania</option>
                                <option value="TJ">Tayikistán</option>
                                <option value="IO">Territorio Británico del Océano Índico</option>
                                <option value="TF">Territorios Australes Franceses</option>
                                <option value="TL">Timor Oriental</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad y Tobago</option>
                                <option value="TM">Turkmenistán</option>
                                <option value="TR">Turquía</option>
                                <option value="TV">Tuvalu</option>
                                <option value="TN">Túnez</option>
                                <option value="UA">Ucrania</option>
                                <option value="UG">Uganda</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistán</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Vietnam</option>
                                <option value="WF">Wallis y Futuna</option>
                                <option value="YE">Yemen</option>
                                <option value="DJ">Yibuti</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabue</option>
                            </select>
                        </li>

                        <li class="fields">
                            <div class="field">
                                <label for="name" class="required"><em>*</em>Nombre</label>
                                <div class="input-box">
                                    <input name="name" id="name" title="Nombre" value="" class="input-text required-entry" type="text" data-gaconnector-tracked="true">
                                </div>
                            </div>
                            <div class="field">
                                <label for="last-name" class="required"><em>*</em>Apellido</label>
                                <div class="input-box">
                                    <input name="last-name" id="last-name" title="Apellido" value="" class="input-text required-entry" type="text" data-gaconnector-tracked="true">
                                </div>
                            </div>
                        </li>
                        <li class="fields">
                            <div class="field email">
                                <label for="email">Correo electrónico</label>
                                <div class="input-box">
                                    <input name="email" id="email" title="Correo electrónico" value="" class="input-text validate-email" type="text" data-gaconnector-tracked="true">
                                </div>
                            </div>
                            <div class="field telephone">
                                <label for="telephone" class="required"><em>*</em>Teléfono</label>
                                <div class="input-box">
                                    <input name="telephone" id="telephone" title="Teléfono" value="" class="input-text required-entry" type="text" data-gaconnector-tracked="true">
                                </div>
                            </div>
                        </li>
                        <li class="wide comment">
                            <label for="comment">Mensaje</label>
                            <div class="input-box">
                                <textarea name="comment" id="comment" title="Mensaje"></textarea>
                            </div>
                        </li>
                        <li class="wide select-profile">
                            <label for="profile" class="required"><em>*</em>Seleccionar perfil</label>
                            <div class=" clearer"></div>
                            <div class="option">
                                <input name="profile" id="private" title="Cliente particular" value="private_individual" class="input-radio" type="radio" data-gaconnector-tracked="true">
                                <label>Cliente particular</label>
                                <div>Selecciónalo si eres un cliente particular</div>
                            </div>
                            <div class="option">
                                <input name="profile" id="business" title="Negocio" value="business" class="input-radio" type="radio" data-gaconnector-tracked="true">
                                <label>Negocio</label>
                                <div>Selecciónelo si se trata de una empresa y especifique el tipo de negocio.</div>
                            </div>
                            <div class="option">
                                <input name="profile" id="freelance" title="Profesional Freelance" value="freelance_professional" class="input-radio validate-one-required-by-name" type="radio" data-gaconnector-tracked="true">
                                <label>Profesional Freelance</label>
                                <div>Selecciónalo si eres médico, fisioterapeuta, entrenador personal o arquitecto.</div>
                            </div>
                        </li>
                        <li class="fields select-need hidden">
                            <div class="field">
                                <p><select class="show-hide validate-select business hidden" name="need-business">
                                    <option value="">Mercado *</option>
                                    <option value="military">Militar</option>
                                    <option value="community">Community</option>
                                    <option value="medical_rehab">Rehabilitación</option>
                                    <option value="education">Education</option>
                                    <option value="sports">Sport</option>
                                    <option value="residential">Residencial</option>
                                    <option value="corporate">Oficinas</option>
                                    <option value="hotels_spas">Hoteles y Spa</option>
                                    <option value="fitness_club">Club de fitness</option>
                                </select></p>
                            </div>
                            <div class="field">
                                <p><select class="show-hide validate-select freelance hidden" name="need-freelance">
                                    <option value="">Trabajo*</option>
                                    <option value="architect">Arquitecto</option>
                                    <option value="personal_trainer">Para entrenadores personales</option>
                                    <option value="doctor">Médico</option>
                                    <option value="journalist">Periodista</option>
                                    <option value="other">Otra profesión</option>
                                </select></p>
                            </div>
                            <div class="field company hidden">
                                <div class="input-box">
                                    <input name="company" id="company" title="Compañía" value="" class="input-text" type="text" placeholder="Empresa *" data-gaconnector-tracked="true">
                                </div>
                            </div>
                        </li>

                        <li class="wide privacy last">
                            <div class="input-box terms-privacy">
                                <div>
                                    <p><input type="checkbox" data-gaconnector-tracked="true">Autorizo el tratamiento de mis datos personales para fines de marketing y publicidad.</p>
                                </div>
                            </div>
                            <input type="text" name="secure_field_check" value="" autocomplete="new-password" class="secure-field-check" style="position: absolute;left:-999em;height:0;width:0;" data-gaconnector-tracked="true">

                        </li>

                    </ul>
                    <input type="hidden" name="catalog-url" value="" data-gaconnector-tracked="true">
                    <input type="hidden" name="campaign" value="268831" data-gaconnector-tracked="true">
                    <input type="hidden" name="need" id="need" value="" data-gaconnector-tracked="true">
                </div>
                <div class="buttons-set">
                    <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" data-gaconnector-tracked="true">
                    <button type="submit" title="Enviar" class="button submit-trigger"><span><span>Enviar</span></span></button>
                </div>
                <input type="hidden" class="grecaptchaToken" name="grecaptchaToken"
                value="03AGdBq243BcVf-LSVkhRDLYpf8MaoJrlkYicuPyM20kldxgsNwTpP04Ncp9sd3zJ_4pPNagQ4jiCyU5Kv1d5I2gpKiTHkczloown-jeMYXHzo7J7bFHzO1twN-aps4u3IJXgnwoNmV9lMxbC911jQQJxStimvdVPHZInEa0WVuZrLX5UHhiWboHMHsD1Vc4Ef4Num37E8Zo3Fo6ttaAnWl_dZGla4iWaIeEPqX68bvpUQyjOU4C0TnAsds4KLCU51FMVzVDQ7opzcj5nnIVzY5t04e32za70PSF6JWbaMAlQU4PSCoeoIIjPR9DazU6gTJWjxRSrkmDEv7PDmE_Qys9UTKTX5fp49DVZZi59OnYybNJvWuwpXnHhFGX_gqW0eIfEQJZe_XnO3"
                data-gaconnector-tracked="true">
            </form>

        </div>

    </div>


</div>
