/* You can add global styles to this file, and also import other style files */

body {
  background-image: url(https://i.imgur.com/ts3Q66r.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-color: black;
    color: white !important;
  height: 100vh;
  width: 100%;
}

hr {
    border-color: white;

}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}

.card-title,
.card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
.footer-top-area {
  padding-top: 50px;
  background-color: #121212;

}
.footer-bottom-area {
  background: #000000;
  padding: 20px 0;
  text-align: center;
}
.pFooter{
  padding-bottom: 50px;
}
