<div class="container">
  <div class="row" style="margin-bottom: 2rem; margin-top: 6rem;">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <img src="https://api.adorable.io/avatars/285/abfsdfffdsfott@adorable.io" width="150px" height="150px"
        class="responsive" alt="" />
    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 text-center">
      <button type="button" class="btn btn-outline-success btn-block" [routerLink]="['/usuario','user','info']">
        Info
      </button>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
