<div class="container">
  <div class="row" style="margin-bottom: 2rem; margin-top: 6rem;">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/non_2x/vector-users-icon.jpg"
        width="350" height="350" class="responsive" />
    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 text-center">
      <button type="button" class="btn btn-outline-success btn-block">
        Info
      </button>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
