
<div class="container">
  <div class="table-responsive">
  <table class="table table-dark table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Correo</th>
    <th scope="col">Cédula</th>
    <th scope="col">Dirección</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Editar</th>
    <th scope="col">Borrar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of datos">
    <th scope="row">{{data.id}}</th>
    <td>{{data.nombre}}</td>
    <td>{{data.apellido}}</td>
    <td>{{data.correo}}</td>
    <td>{{data.ci}}</td>
    <td>{{data.direccion}}</td>
    <td>{{data.telefono}}</td>
    <td>
      <a class="btn btn-outline-primary" role="button" [routerLink]="['/edit-cliente', data.id]">
      <svg class="bi bi-file-earmark" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
        <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
      </svg>
      </a>
    </td>
    <td>
      <a class="btn btn-outline-danger"  type="submit" role="button" (click)="eliminarRegitroPorId(data.id)">
      <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
      </a>
    </td>
  </tr>
  </tbody>
  </table>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button class="btn btn-danger btn-block" (click)="listar()">
        <strong> Listar </strong>
      </button>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>
